[submodule "ext/node-htmlparser"]
	path = ext/node-htmlparser
	url = http://github.com/tautologistics/node-htmlparser.git
[submodule "ext/jquery-src"]
	path = ext/jquery-src
	url = http://github.com/jquery/jquery.git
[submodule "ext/jasmine"]
	path = ext/jasmine
	url = http://github.com/pivotal/jasmine.git
[submodule "ext/jsdom"]
	path = ext/jsdom
	url = git://github.com/thatdutchguy/jsdom.git
